*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container{
  min-height:100vh;
  background:#0f0f0f;
  color:white;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:#111;
  border-bottom:1px solid #222;
}

.logo{
  color:#22c55e;
}

.nav-right{
  display:flex;
  align-items:center;
  gap:25px;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:30px;
}

.nav-links li{
  cursor:pointer;
  color:#ccc;
}

.nav-links li:hover{
  color:#22c55e;
}

/* Hero */

.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}
.title_name{
    color: #22c55e;
    margin-bottom: 15px;
}

.hero-title{
  font-size:40px;
  margin-bottom:20px;
}

.hero-desc{
  max-width:600px;
  color:#aaa;
  margin-bottom:30px;
}

/* Idea form */

.idea-form{
  display:flex;
  gap:10px;
}

.idea-form input{
  padding:12px;
  width:320px;
  border:none;
  border-radius:6px;
  background:#1f1f1f;
  color:white;
}

.idea-form input:focus{
  outline:1px solid #22c55e;
}

.idea-form button{
  padding:12px 20px;
  border:none;
  border-radius:6px;
  background:#22c55e;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.idea-form button:hover{
  background:#16a34a;
}
/* user menu */

.user-menu{
  position:relative;
}

.user-icon{
  font-size:22px;
  cursor:pointer;
}

.dropdown{
  position:absolute;
  right:0;
  top:40px;
  background:#1a1a1a;
  border:1px solid #333;
  padding:15px;
  border-radius:8px;
  width:200px;
  box-shadow:0 5px 20px rgba(0,0,0,0.5);    
}

.user-name{
  font-weight:bold;
}

.user-email{
  font-size:13px;
  color:#aaa;
  margin-bottom:10px;
}

.logout-btn,
.login-btn{
  width:100%;
  padding:8px;
  border:none;
  border-radius:5px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}
/* Mobile */

@media(max-width:768px){

.hero-title{
  font-size:28px;
}

.idea-form{
  flex-direction:column;
}

.idea-form input{
  width:100%;
}

}
